body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
a {
  text-decoration: none;
  border-radius: 10;
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
a:hover {
  color: white;
  background-color: gray;
}
#box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
  width: 500px;
  height: 40vh;
}

#box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 300px;
}

.arrowButton {
  border-radius: 25px;
  margin: 5px;
  height: 40px;
  width: 40px;
  background-color: none;
}

#image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

#box2 p {
  font-size: 24px;
}
